img {
    max-width: 100%;
    height: auto;
}
.btn {
    font-family: inherit;
    font-weight: 600;
}
table.shop_table td.product-remove a {
    display: inline-block;
    padding: 0 5px 2px;
  }
  
.quantity {
    float: left;
    margin-right: 15px;
}
.quantity button:hover{
    background-color: blue;
    color: white;
}
.quantity input[type="number"] {
    padding: 5px;
    width: 50px;
}

.outline-none {
    outline: none;
}

  table.shop_table td.product-remove a:hover {color: #fff;background: red;text-decoration: none}
  table.shop_table td.product-name a{color: #222;}
  table.shop_table td.product-name a:hover {color: #5a88ca;text-decoration: none}
  div.quantity input.plus:hover, div.quantity input.minus:hover {background-color: #222}
  div.cart-collaterals ul.products li.product a:hover h3 {color: #5a88ca}
  div.cart-collaterals ul.products li.product a:hover {text-decoration: none}
  
  div.cart-collaterals ul.products li.product:hover .add_to_cart_button{background-color: #222}
  
  
  table.shop_table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
}
table.shop_table th, table.shop_table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
table.shop_table th {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 15px;
}
td.product-thumbnail img {
    height: auto;
    width: 70px;
}
td.product-name {
    font-size: 18px;
}
td.product-quantity div.quantity {
    float: none;
    margin: 0;
}
td.actions div.coupon {
    float: left;
}
.cart-collaterals {
    overflow: hidden;
}
.cart_totals table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
}
.cart_totals table th, .cart_totals table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.cart_totals table th {
    background: none repeat scroll 0 0 #f4f4f4;
}
.cross-sells {
    float: left;
    margin-right: 3%;
    width: 57%;
}
.cart-collaterals h2 {
    color: #5a88ca;
    font-size: 25px;
    margin-bottom: 25px;
}
div.cart-collaterals ul.products {
    list-style: outside none none;
    margin: 0 0 0 -30px;
    padding: 0;
}
div.cart-collaterals ul.products li.product {
    float: left;
    margin-left: 20px;
    position: relative;
    width: 198px;
}
div.cart-collaterals ul.products li.product .onsale {
    background: none repeat scroll 0 0 #5a88ca;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    right: 0;
}
div.cart-collaterals ul.products li.product h3 {
    color: #333;
    font-size: 20px;
    margin-top: 15px;
}
div.cart-collaterals ul.products li.product .price {
    color: #333;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}
div.cart-collaterals ul.products li.product .price ins {
    color: #5a88ca;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
}

button {
    border: none;
}
.btn-padding {
    padding: 11px 20px;
}