// Here you can add other styles
.bg-orange {
  background-color: #FF6347;
  color: white;
}

.bg-purple {
  background-color: #9932CC;
  color: white;
}

.dropdown-normal {
  white-space: normal;
  width: 400px;
}

.desc-editor  {
  min-height: 250px;
  max-height: 400px;
}