.product-big-title-area {background: repeat scroll 0 0 #5a88ca}

.product-bit-title h2 {
  font-family: raleway;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  padding: 50px 0;color: #fff;
}

.single-product-area .zigzag-bottom {background-color: #f4f4f4}

.single-product-area {
  padding: 80px 0 130px;
}
.product-carousel-price ins {
    color: #5a88ca;
    font-weight: 700;
    margin-right: 5px;
    text-decoration: none;
  }
  .product-carousel {
    padding-top: 40px;
  }
  .single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}
.product-option-shop {
    margin-top: 15px;
}

.single-shop-product {margin-bottom: 50px}
.add_to_cart_button {
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    padding: 6px 25px;display: inline-block
}
.add_to_cart_button:hover {background-color: #222;color: #fff;text-decoration: none}
select {border: none;}
.search-fixed{
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 99;
}
.product-upper{
  height: 200px;
}
.w-40{
  width:40%
}