.bg-user-info{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
  margin: auto;
  height: 15vw;
  width: 15vw;
  overflow: hidden;
  border-radius: 50%;
}
.profile-img img{
  height: 100%;
  width: auto;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -50%;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 1vw;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}

.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.h-120 {
  height: 120px;
}
.h-36-px{
  height: 36px;
}
.bg-selected {
  color: #ee4d2d;
  border-bottom: 5px solid #ee4d2d;
}
.text-xl {
  font-size: x-large
}