

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container_login{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap :7rem;
	padding: 0 2rem;
	grid-template-columns: repeat(2, 1fr);
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
.register-page{
	background-color: #32be8f;
	height: 100vh;
	align-items: center;
	text-align: center;
}
.register-content{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 720px;
}
.img img{
	width: 500px;
}
.login-content .card{
	border-radius: 25px;
}
.center-page{
	align-items: center;
	height: 100vh;
}

.login-content form{
	width: 360px;
}
.register-content form{
	width: 100%;
	padding:20px 50px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	font-size: 2.5rem;
}

.input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

.login-content a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.login-content a:hover{
	color: #38d39f;
}
.login-content input[type="submit"]{
	text-transform: none;
}
.login-content .btn, .register-content .btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 5px 0;
	cursor: pointer;
	transition: .5s;
}
.login-content .btn-primary{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #4b73c9, #204cc7, #003cff);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 5px 0;
	cursor: pointer;
	transition: .5s;
}
.login-content .btn-danger{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #dd6a55, #d64521, #ff0000);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 5px 0;
	cursor: pointer;
	transition: .5s;
}
.login-content .btn:hover, .register-content .btn:hover{
	background-position: right;
}
.register-content .input-div{
	margin: 10px 0;
}


@media screen and (max-width: 1050px){
	.container_login{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	.login-content form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}
	.register-content .input-div{
		margin: 1vw 0;
	}
	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container_login{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
	.register-content{
		justify-content: center;
		width: 80vw;
		margin: auto;
	}
	.register-content .input-div{
		margin: 0.5vw 0;
	}
}

@media screen and (max-width: 440px){
	.register-content .center-page > .col-12 {
		padding: auto 0;
	}
	.register-content h2, .register-content h2 i{
		font-size: 7vw;
	}
	.register-content .input-div > div > h5 {
		font-size: 5vw;
	}
	.register-content .input-div > div {
		height: 5vh;
	}
	.register-content .input-div.focus > div > h5{
		font-size: 4vw;
	}
	.register-content form {
		padding: 20px 40px;
	}
}